.SideNavbar {
    position: relative;
    background-color: #e0e6ed;
    padding: 3%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: max-content;
}

.subHeading {
    color: #c8cacb;
    margin: 0px;
    font-size: 14px;
}

.logo {
    padding: 20px;
}

.Category {
    padding: 20px;
}

.Settings {
    padding: 20px;
}