.dailyProgress {
  display: flex;
  flex-direction: row;
  margin: 10px 50px;
}
.progress {
  display: flex;
  align-items: center;
}

.firstDividedBar {
  display: flex;
  flex-direction: column;
}

.dividedBar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
