.heart {
    background-color: #342e9b;
    color: #dadcfe;
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    width: max-content;
    position: absolute;
    top: 27%;
    left: 45%;
}

.leg {
    background-color: #02e2f0;
    color: #26228f;
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    width: max-content;
    position: absolute;
    bottom: 25%;
    left: 10%;
}

@media (max-width: 1200px) {
    .heart {
        top: 15%;
        right: 0;
        left: 70%;
        transform: translateX(-50%);
    }

    .leg {
        bottom: 60%;
        left: 30%;
        transform: translateX(-50%);
    }
}