.userAction {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.appointments {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
  padding-top: 4%;
  background-color: #e0e6ed;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
