.details {
  border-radius: 25px;
  background-color: #4545a1;
  color: white;
  /* background-color: #E0E0EF;
    color: black; */
  padding: 10px;
  height: max-content;
  margin: 20px 0px;
}

.highlight {
  background-color: #d3d3f3;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
}

.title {
  margin: 10px;
}

.icon {
  margin: 10px;
}

.time {
  margin: 0px 10px 10px 10px;
  font-size: small;
}

.doctor {
  margin: 10px;
  font-size: small;
}
