body {
  font-family: sans-serif;
  background-color: #e2ebf8;
}

.App {
  margin: 1%;
  padding: 1%;
  background-color: #ebeef1;
  border-radius: 50px;
  display: flex;
}

.mobileVisible {
  display: none;
}

.desktopVisible {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

@media (max-width: 1200px) {
  .mobileVisible {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #e0e6ed;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .desktopVisible {
    display: none;
  }
}
