body {
  font-family: sans-serif;
  background-color: #e2ebf8;
}

.App {
  margin: 1%;
  padding: 1%;
  background-color: #ebeef1;
  border-radius: 50px;
  display: flex;
}


.mobileVisible {
  display: none;
}

.desktopVisible {
  display: flex;
  width: 50%;
}

@media (max-width: 1200px) {

  .mobileVisible {
    display: flex;
    flex-direction: column;
  }

  .desktopVisible {
    display: none;
  }
}